body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.header-nav {
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;}

  .header-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #263238;
    }
    .header-button{
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    }
    

/* footer */
.footer-logo {
  font-weight: 400;
  font-size: 36px;
  line-height: 54px;
  color: #939393;
}

.footer-nav {
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #8F95A5;
}
